<template name="layout">

    <div class="ui left sidebar inverted vertical labeled icon menu ">
        {{#if currentUser}}
            <div class="brand item">
                <img class="ui avatar image" onerror="{{imageError}}" src="{{avatar currentUser.username  "S"}}"
                     alt="{{currentUser.profile.displayName}}">

                <div>
                    {{currentUser.profile.displayName}}
                </div>
            </div>
        {{/if}}
        <a href="{{pathFor 'newPosts'}}" class="{{activeRouteClass 'home' 'newPosts'}} blue item">
            <i class="calendar icon"></i>
            Nowe</a>
        <a href="{{pathFor 'bestPosts'}}" class="{{activeRouteClass  'bestPosts'}} red item">
            <i class="comments Outline icon"></i>
            Najlepsze</a>
        <a href="rss/najnowsze" class="{{activeRouteClass  'bestPosts'}} green item">
            <i class="rss square icon"></i>
            RSS</a>
        <a href="{{pathFor 'postSubmit'}}" class="{{activeRouteClass  'postSubmit'}} item">
            <i class="plus icon"></i>
            Dodaj</a>
        {{#if currentUser}}
            <a class="item logout">
                <i class="power off icon "></i>
                Spadam</a>
        {{else}}
            <a href="{{pathFor 'login'}}" class="item purple {{activeRouteClass  'login'}}">
                <i class="icon sign in"></i>
                zaloguj się</a>
        {{/if}}
    </div>
    <div class="pusher">
        {{#HammerTouchArea initOptions=hammerInitOptions gestureMap=templateGestures}}
            {{> header}}
            {{> errors}}
            <div id="main" class="ui main container">
                {{> yield}}
            </div>
            {{> footer}}
        {{/HammerTouchArea}}
    </div>
</template>