
body {
    background: #eee;
    color: #666666;
}

#main {
    position: relative;
}

.page {
    top: 0px;
    width: 100%;
}

.ui.active.loader {
    margin-top: 40%;
}
.post {
    /* For modern browsers */
    /* For IE 6/7 (trigger hasLayout) */
    *zoom: 1;
    position: relative;
    opacity: 1;
}

.post:before, .post:after {
    content: "";
    display: table;
}

.post:after {
    clear: both;
}

.post.invisible {
    opacity: 0;
}

.post.instant {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

.post.animate {
    -webkit-transition: all 300ms 0ms;
    -moz-transition: all 300ms 0ms ease-in;
    -o-transition: all 300ms 0ms ease-in;
    transition: all 300ms 0ms ease-in;
}

.post .upvote {
    display: block;
    margin: 7px 12px 0 0;
    float: left;
}

.post .post-content {
    float: left;
    overflow: hidden;
    cursor: text;
    -ms-word-break: break-all;
    word-break: break-all;
    /* Non standard for WebKit */
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}
.ui.card > .content > .meta + .description.post-content
{
    margin-top: -2em;
}
.post .post-content h3 {
    margin: 0;
    line-height: 1.4;
    font-size: 18px;
}

.post .post-content h3 a {
    display: inline-block;
    margin-right: 5px;
}

.post .post-content h3 span {
    font-weight: normal;
    font-size: 14px;
    display: inline-block;
    color: #aaaaaa;
}

.post .post-content p {
    margin: 0;
}

.post .discuss {
    display: block;
    float: right;
    margin-top: 7px;
}

.load-more {
    display: block;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.05);
    text-align: center;
    height: 60px;
    line-height: 60px;
    margin-bottom: 10px;
}

.load-more:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1);
}

.posts .spinner-container {
    position: relative;
    height: 100px;
}


@-webkit-keyframes fadeOut {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.alert {
    animation: fadeOut 2700ms ease-in 0s 1 forwards;
    -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
    -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
     pointer-events: auto;
}

/*todo wywalic to co nad kreską*/
.ui.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: none;
}

.main.container {
    margin-top: 5em;
}

.post-content {
    white-space: pre-line;
    word-wrap: break-word;
}

.ui.black.big.launch {
    margin-left: 15px;
}

.at-pwd-form {

}

.xxlarge-add {
    font-size: 2rem !important;
    position: fixed;
    bottom: 8%;
    right: 8%;
    z-index: 10;
    box-shadow: 0 15px 24px rgba(0, 0, 0, 0.22), 0 19px 76px rgba(0, 0, 0, 0.3);
}

.xxlarge-add.active {
    display: none;
}

.no-padding{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.no-border{
    box-shadow: none !important;
}

html.ios {
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
html.ios,
html.ios body {
    height: initial !important;
}
.ui.search .prompt {
    border-radius: initial;
}
.ui.tag.labels .label, .ui.tag.label {
    margin-bottom: 0.3em;
}
.time{
    margin: 0.5em;
}