
<template name="postSubmit">
    <form class="ui form {{anyErrorClass}}">
        <div class="field {{errorClass 'content'}}">
            <label>Powiedzonko:</label>
            <div class="ui corner labeled input">
                <textarea name="content" id="url" type="text" value=""  placeholder="{{random incentives}}"></textarea>
                <div class="ui corner label">
                    <i class="asterisk icon"></i>
                </div>
            </div>

        </div>
        <div class="field {{errorClass 'content'}}">
            <label>Tagi:</label>
            <select class="ui fluid search dropdown" name="tags"  id="tags" multiple="">
                {{#each allTags}}
                    <option value="{{this.name}}">
                        <span class="middle aligned text">{{this.name}}</span>
                        <span class="description ui {{this.color}} mini label">{{this.posts.length}}</span></option>
                {{/each}}
            </select>
        </div>
        <button class="ui button positive" type="submit">Wyślij</button>
        <div class="ui error message icon">
            <i class="frown icon"></i>

            <div class="content">
                <div class="header">Nie mogę dodac powiedzonka rzuć okiem na te błędy:</div>
                <ul class="list">
                    <li>{{errorMessage 'content'}}</li>
                    <li>{{errorMessage 'tags'}}</li>
                </ul>
            </div>
        </div>
    </form>
</template>