<template name="postEdit">
    <form class="ui form {{anyErrorClass}}">
        <div class="field {{errorClass 'content'}}">
            <label>Powiedzonko:</label>
            <div class="ui corner labeled input">
                <textarea name="content" id="url" type="text" value="{{content}}" placeholder="{{random incentives}}"></textarea>
                <div class="ui corner label">
                    <i class="asterisk icon"></i>
                </div>
            </div>

        </div>
        <div class="field {{errorClass 'content'}}">
            <select class="ui fluid search dropdown" name="tags" value="{{tags}}"  id="tags" multiple="">
                {{#each allTags}}
                    <option value="{{this.name}}">
                        <span class="middle aligned text">{{this.name}}</span>
                        <span class="description ui {{this.color}} mini label">{{this.posts.length}}</span></option>
                {{/each}}
            </select>

        </div>
        <button class="ui button positive" type="submit">Wyślij</button>
        <button class="ui button delete negative delete-post" ><i class="trash icon"></i> Usuń</button>
        <div class="ui error message icon">
            <i class="frown icon"></i>

            <div class="content">
                <div class="header">Nie mogę dodac powiedzonka rzuć okiem na te błędy:</div>
                <ul class="list">
                    <li>{{errorMessage 'content'}}</li>
                    <li>{{errorMessage 'tags'}}</li>
                </ul>
            </div>
        </div>
    </form>
    <div class="hidden">
        <div class="ui small basic modal">
            <div class="ui trash header">
                <i class="archive icon"></i>
                Na pewno usunąć powiedzonko?
            </div>
            <div class="content">
                <p>Wszystki tagi powiązane wyłącznie z tym powiedzonkiem zostana usunięte</p>
            </div>
            <div class="actions">
                <div class="ui red basic cancel inverted button">
                    <i class="remove icon"></i>
                    Nie
                </div>
                <div class="ui green ok inverted button">
                    <i class="checkmark icon"></i>
                    Tak
                </div>
            </div>
        </div>
    </div>

</template>