<template name="postPage">
    <div class="post-page page">
        {{> postItem}}
        <div class="ui comments">
            <h3 class="ui dividing header">Komentarze</h3>

            <div class="fluid card ">
                {{#each comments}}
                    {{> commentItem}}
                {{/each}}
            </div>
        </div>
        {{#if currentUser}}
            {{> commentSubmit}}
        {{else}}
            <p>Możesz tutaj coś napisać wystarczy się zalogować</p>
        {{/if}}
    </div>
</template>