<template name="postItem">
    <div class="ui fluid card blurring segment post">
        <div class="content">
            <a href="{{pathFor 'postsByAuthor' username=author.username name=author.profile.displayName }}"
               class="ui {{author.profile.color}} image top right pointing ribbon label">
                <div class="author" style="padding-bottom: 1px">
                    <img class="ui avatar image" onerror="{{imageError}}"
                         src="{{avatar author.username "M"}}">{{author.profile.displayName}}
                </div>
            </a>
                            <span class="tags">
                                {{#each tags}}
                                    <a class="ui tag {{this.color}}  label"
                                       href="{{pathFor 'searchByTag' tag=this.name}}">{{this.name}}</a>
                                {{/each}}
                            </span>

            <div class="meta">
                <span class="right floated time"><i class="icon wait"></i> {{created}}</span>
            </div>
            <div class="description post-content">
                {{content}}
            </div>
        </div>
        <div class="extra content">
              <span class="left floated heartbeat">
                  {{#if currentUser}} <a class="vote  {{upvotedClass}}"><i
                          class="heart icon {{upvotedClass}}"></i></a>{{/if}}
                  {{pluralize votes "Głos"}}
              </span>
              <span class="right floated comments">
                  <a href="{{pathFor 'postPage'}}"> {{commentsCount}} <i class="icon comments"></i></a>
                  {{#if ownPost}}<a href="{{pathFor 'postEdit'}}"> <i class="edit icon"></i></a>{{/if}}
              </span>

        </div>
        <div class="ui dimmer">
            <div class="content">
                <div class="center">
                    <h3 class="ui inverted icon header">
                        <i class="heart icon"></i>
                        Dzięki za polubienie!
                    </h3>
                </div>
            </div>
        </div>
    </div>
</template>