<template name="searchList">
    <div class="posts page">
        <div class="wrapper">
            {{#each posts}}
                {{> postItem}}
            {{/each}}
        </div>

        {{#if nextPath}}
            <a class="load-more" href="{{nextPath}}">Dawaj więcej</a>
        {{else}}
        {{/if}}
    </div>
</template>
