<template name="commentItem">
    <div class="comment">
        <a class="avatar" href="{{pathFor 'postsByAuthor' _id=author._id name=author.profile.displayName }}">
            <img class="" onerror="{{imageError}}" src="{{avatar author.username "S"}}">
        </a>

        <div class="content">
            <a class="author" href="{{pathFor 'postsByAuthor' _id=author._id name=author.profile.displayName }}" >{{author.profile.displayName}}</a>

            <div class="metadata">
                <span class="date">{{submittedText}}</span>
            </div>
            <div class="text">
                {{body}}
            </div>
        </div>
    </div>
</template>