<template name="commentSubmit">
    <form name="comment" class="comment-form ui reply form {{anyErrorClass}}">
        <div class="field {{errorClass 'content'}}">
            <div class="ui corner labeled input">
                <textarea name="body" id="body" type="text" value="" placeholder="dowal coś"></textarea>
                <div class="ui corner label">
                    <i class="asterisk icon"></i>
                </div>
            </div>
        </div>
            <div class="ui error message icon">
                <i class="frown icon"></i>

                <div class="content">
                    <div class="header">Nie mogę dodac komentarza rzuć okiem na te błędy:</div>
                    <ul class="list">
                        <li>{{errorMessage 'body'}}</li>
                    </ul>
                </div>
            </div>
        <button type="submit" title="dodaj komentarz" class="ui blue labeled submit icon button">
            <i class="icon edit"></i> Trolluj!
        </button>
    </form>
</template>