<template name="notifications">
    {{#if notificationCount}}
        <a class="ui dropdown notifications item">
            <i class="mail icon"></i> {{notificationCount}}
            <div class="menu ui transition hidden">
                {{#each notifications}}
                    {{> notificationItem}}
                {{/each}}
            </div>
        </a>
    {{/if}}
</template>

<template name="notificationItem">
    {{#if isEqual actionType 1 }}
        {{>likeNotyfy}}
    {{else}}
        {{#if isEqual actionType 2 }}
            {{>commentNotyfy}}
        {{else}}
            {{#if isEqual actionType 0 }}
                {{>adminNotyfy}}
            {{/if}}
        {{/if}}
    {{/if}}

</template>

<template name="likeNotyfy">
    <a class="item notificationItem">
        <div class="ui feed">
            <div class="event">
                <div class="label">
                    <img onerror="{{imageError}}" src="{{avatar commenter.username "S"}}" data-pin-nopin="true">
                </div>
                <div class="content">
                    <div class="summary">
                        <a class="user">
                            {{commenter.profile.displayName}}
                        </a> polubił(a) twoje <a>powiedzonko</a>

                        <div class="date">
                            <i class="icon wait"></i> {{moment submitted}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
</template>
<template name="commentNotyfy">
    <a class="item notificationItem">
        <div class="ui feed">
            <div class="event">
                <div class="label">
                    <img onerror="{{imageError}}" src="{{avatar commenter.username "S"}}" data-pin-nopin="true">
                </div>
                <div class="content">
                    <div class="summary">
                        <a class="user">
                            {{commenter.profile.displayName}}
                        </a> skomentował(a) twoje <a>powiedzonko</a>

                        <div class="date">
                            <i class="icon wait"></i> {{moment submitted}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
</template>
<template name="adminNotyfy">
    <a class="item notificationItem">
        <div class="ui feed">
            <div class="event">
                <div class="label">
                </div>
                <div class="content">
                    <div class="summary">
                        {{content}}
                        <div class="date">
                            <i class="icon wait"></i> {{moment submitted}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
</template>