<template name="accessDenied">
    <div class="ui one column stackable center aligned page grid">
        <div class="column twelve wide">
            {{> atForm}}
        </div>
    </div>
</template>