<template name="footer">
    <div class="ui inverted vertical footer segment sticky">
        <div class="ui center aligned container">
            <img src="img/logo.png" class="ui centered mini image">

            <div class="ui horizontal inverted small divided link list">
                <a class="item" href="#">Site Map</a>
                <a class="item" href="#">Contact Us</a>
                <a class="item" href="#">Terms and Conditions</a>
                <a class="item" href="#">Privacy Policy</a>
            </div>
        </div>
    </div>
</template>