<template name="header">
    <div class="ui grid">
        <div class="computer only row">
            <div class="ui inverted fixed menu navbar page grid">
                <a href="{{pathFor 'home'}}" class="brand item">Powiedzonka</a>
                <a href="{{pathFor 'newPosts'}}" class="{{activeRouteClass 'home' 'newPosts'}}  blue item">Nowe</a>
                <a href="{{pathFor 'bestPosts'}}" class="{{activeRouteClass  'bestPosts'}} red item">Najlepsze</a>
                <a href="rss/najnowsze" class="item"><i class="rss icon"></i></a>
                <a href="{{pathFor 'postSubmit'}}" class="{{activeRouteClass  'postSubmit'}} green item">Dodaj</a>

                <div class="right menu">
                    <div class="ui right aligned category search item">
                        <div class="ui transparent icon input inverted">
                            <input class="prompt search nav-search" type="text" placeholder="Szukaj powiedzonek...">
                            <i class="search link icon"></i>
                        </div>
                    </div>
                    {{#if currentUser}}
                        <div class="ui animated fade button no-border {{currentUser.profile.color}}  inverted no-padding logout">
                            <div class="visible content">
                                <div class="ui item no-padding">
                                    <img class="ui middle aligned avatar image"
                                         onerror="{{imageError}}"
                                         src="{{avatar currentUser.username  "S"}}"
                                         alt="{{currentUser.profile.displayName}}">
                           <span class="ui grid padded">
                            <span class="two column computer only row">{{currentUser.profile.displayName}}
                            </span>
                            <span class="two column tablet only row">{{currentUser.username}}</span>
                           </span>
                                </div>
                            </div>
                            <div class="hidden content">
                                <i class="power off icon"></i>
                            </div>
                        </div>
                        {{> notifications}}
                    {{else}}
                     <a href="{{pathFor 'login'}}" class="ui inverted purple  item {{activeRouteClass  'login'}}"> <i class="icon sign in"></i>
                            Zaloguj się</a>
                    {{/if}}
                </div>
            </div>
        </div>

        <div class="mobile tablet only row">
            <div class="ui inverted fixed menu navbar page grid">
                <div class="ui black big launch right attached fixed button">
                    <i class="content icon"></i>
                </div>
                <div class="right menu">
                    <div class="ui right aligned category search  item">
                        <div class="ui transparent icon input inverted">
                            <input class="prompt search nav-search" type="text" placeholder="Szukaj powiedzonek...">
                            <i class="search link icon"></i>
                        </div>
                        <div class="results"></div>
                    </div>
                </div>
            </div>

            <a href="{{pathFor 'postSubmit'}}"
               class="ui primary xxlarge-add circular plus icon button {{activeRouteClass  'postSubmit'}}">
                <i class="plus icon"></i>
            </a>
        </div>
    </div>
</template>